@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #3A2C33;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8fa;
    --foreground: #d3d1d1;
  }
}

body {
  color: rgb(156, 156, 156);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

.custom-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.custom-prev, .custom-next {
  background-color: #ffffff;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 5px 15px rgba(207, 206, 206, 0.377);
  cursor: pointer;
}

.custom-prev:hover, .custom-next:hover {
  background-color: #fafafaea;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin: 0 20px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #007bff;
  margin: 20px 20px;
  border-radius: 50%;
  cursor: pointer;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #0056b3;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

  .container {
    @apply max-w-7xl mx-auto
  }

  .block-heading {
    @apply text-darks text-2xl font-semibold
  }
  
  .input {
    @apply w-full p-[18px] px-3 paragraph !text-darks/80 placeholder:text-darks/70 border-[0.5px] border-gray-200/60 bg-transparent focus:outline-tan
  }
  
  .button {
    @apply w-full shadow-xl shadow-cardinal/30 hover:bg-cardinal/90 my-8 rounded-full paragraph bg-cardinal !text-light p-4
  }
  
  .paragraph2 {
    @apply text-lg/8 text-gray-600 text-balance
  }
  .paragraph {
    @apply text-sm font-[500] text-gray-900/60
  }
  .icon {
    @apply bg-gradient-to-br from-cardinal to-purple-700 bg-clip-text text-transparent text-xl
  }
